@layer base {
  :root {
    --chart-1: oklch(59.099% 0.24026 352.849);
    --chart-2: oklch(70.648% 0.17699 154.165);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
  }

  .dark {
    --chart-1: oklch(42.117% 0.22334 264.052);
    --chart-2: oklch(86.763% 0.19255 160.952);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
  }
}
